@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kosugi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Domine:400,700&display=swap');

body {
    background-color: #f5f4f1;
    overflow-x: hidden;
}

#stepbox {
    position: relative;
    display: inline-block;
    width: 400px;
    top: 60px;
    z-index: 90;
    margin-right: 50px;
}

.categoryLegend {
    font-family: "Domine";
}

.step {
    margin-bottom: 100px;
    height: 1100px;
    font-family: "Domine";
    font-weight: 400;
    line-height: 1.4em;
    text-align: justify;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
}

@media all and (min-height:0px) and (max-height:1024px) {
    .step { height: 700px }
}

@media all and (min-height:1025px) {
    .step { height: 1100px }
}

h1, h2 {
    font-weight: 700;
    text-align: right;
    line-height: 32px;
}

h1 {
    font-size: 35px;
}

strong {
    color: rgb(245, 155, 155);
}

#graphic {
    margin: auto;
    width: 1500px;
    flex-direction: row;
    align-items: top;
    justify-content: space-around;
}

#visbox {
    display: inline-block;
    position: fixed;
    top: 0px;
    z-index: 1;
    margin-left: 0;
    height: 1000px;
    width: 1000px;
}

@media all and (min-height:0px) and (max-height:1024px) {
    #visbox { top: 0px }
}

@media all and (min-height:1025px) {
    #visbox { top: 200px }
}

.tick line {
    stroke: 'red'
}

#tooltip {
    position: absolute;
    display: none;
    background: rgba(0, 0, 0, .7);
    border-radius: 3px;
    box-shadow: -3px 3px 15px #939393;
    color: white;
    padding: 6px;
    font-family: "Merriweather";
    font-size: 1.1em;
    max-width: 400px;
    z-index: 100;
}

svg circle:hover{
    cursor: pointer;
}

.swatch {
    fill: #939393;
}

.sizeLegend2 {
    opacity: 0.7
}

a {
    color: rgb(221, 0, 255);
    text-decoration: none;
}

img {
    display: none;
}